.account
    display: flex
    height: calc(100vh - 60px)
    &--content
        margin: auto
        display: flex
        flex-direction: column
        &__label
            text-align: center
            font-size: 25px
            margin-bottom: .5rem
        &__input
            margin-left: auto
            margin-right: auto
            margin-top: 10px
            border: none
            height: 30px
            width: 150px
            font-size: 18px
            border-radius: 5px
            background-color: #f2f2f2
            padding: 0 10px
        &__buy
            border: none
            padding: 10px
            width: 60%
            margin: 25px auto 0 auto
            border-radius: 5px
            font-size: 15px

.buy-progress
    visibility: hidden
    margin-top: -40px