.composition
    display: flex
    flex-direction: column

.info
    margin-top: 40px
    display: flex
    flex-direction: column
    margin-left: auto
    margin-right: auto
    &--card
        display: flex
        flex-direction: column
        margin-bottom: 30px

.card
    &--first-row
        margin: auto
        margin-bottom: 20px
        &__text
            font-size: 26px
    &--second-row
        display: flex
        flex-direction: row
    &--third
        &__label
            font-size: 26px
            width: 300px

.second-row
    &--first-col
        display: flex
        flex-direction: column
        margin-right: auto
        text-align: center
        &__label
            font-size: 25px
            margin-bottom: 10px
        &__text
            font-size: 20px
            text-align: center
    &--second-col
        margin-left: auto
        display: flex
        flex-direction: column
        &__label
            font-size: 25px
            text-align: center
            margin-bottom: 10px
        &__text
            font-size: 20px
            text-align: center